version: "3.9"
services:



  app:
    env_file:
      - app/.env
    build:
      context: .
      dockerfile: Dockerfile.production
    image: renatanerenata/devops-for-programmers-project-lvl1:latest
    ports:
      - "8080:8080"
    command: bash -c 'sleep 3 && npm test'

  db:
    image: postgres:13.4-alpine
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_USER: ${DATABASE_USERNAME}


